<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
    @media(min-width: 768px){
    .main{
        height: 80px;
    }
    }
    @media(max-width: 767px){
    .main{
        height: 130px;
    }
    }
    </style>
</head>
<body>
    <div class="container-fluid main" style="background-color:#16192A;">
        <div class="row py-4">
            <div class="col-md-1 col-2 order-md-1 mb-4 order-1 border-right border-dark d-flex justify-content-center align-items-center ">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="background-color:#3F3F40;width:30px;height:30px;color:#696A6F;">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-md-1 col-2 order-md-2 mb-4 order-2 border-right border-dark  d-flex justify-content-center align-items-center">
                
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="background-color:#3F3F40;width:30px;height:30px;color:#696A6F;">
                    <i class="fa fa-bell-o"></i>
                </div>
                <sup><span class="badge badge-warning rounded-circle">9</span></sup>
            </div>
            <div class="col-md-1 col-2 order-md-3 mb-4 order-3 d-flex justify-content-center align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="background-color:#3F3F40;width:30px;height:30px;color:#696A6F;">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
            <div class="col-md-4 col-7 mb-4 order-md-4 d-flex justify-content-center align-items-center search_container">
                <input type="search" style="width:70%;background:#3F3F40;border-radius:20px;outline: none;color: rgb(180, 179, 179);" class="border-0 px-3 py-1" placeholder="search items">
            </div>
            <div class="col-md-2  col-5 mb-4 order-md-5 d-flex justify-content-center align-items-center ">
                <div class="rounded-circle d-flex justify-content-center align-items-center flex-wrap" style="background-color:#3F3F40;width:30px;height:30px;color:grey;">
                    <i class="fa fa-globe"></i>
                </div>
                <div style="color:#696A6F;">
                    <span class="ml-2 toggler dropdown-toggle" >English</span>
                </div>
            </div>
            <div class="col-md-3 col-6 order-md-6 mb-4 order-4 d-flex justify-content-center align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="background-color:#3F3F40;width:30px;height:30px;color:grey;overflow: hidden;">
                    <img src="./image/user.png" width="100%">
                </div>
                <div style="color:#6E7283;">
                    <span class="ml-2 toggler dropdown-toggle" >Sourav Santra</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>